@media (max-width: 640px) {
    .graphs-container {
        flex-direction: column!important;
    }

    .main-stats-container {
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
    }

    .avatar-container {
        width: 96px !important;
        height: 96px !important;
    }

    .username-container {
        text-align: center !important;
    }

    .inner-stats-container {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        gap: var(--radius-lg) !important;
        width: 100% !important;
    }

    .stats-item {
        align-items: center !important;
        text-align: center !important;
    }
}

.contributor-stats-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--radius-lg)
}

.internal-container {
    background: linear-gradient(180deg, rgba(10, 16, 32, 1), rgba(10, 16, 32, 0.92));
    border: 1px solid var(--color-background-2);
    border-radius: var(--radius-md);
    align-content: center;
    padding: var(--radius-sm);
}

.main-stats-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--radius-xl);
    padding: var(--radius-lg);
}

.user-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--radius-xl);
}

.avatar-container {
    width: 128px;
    height: 128px;
    border-radius: var(--radius-md);
}

.username-container {
    display: flex;
    flex-direction: column;
}

.inner-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats-item {
    display: flex;
    flex-direction: column;
}

.loading {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.additions-label {
    color: var(--creative);
}

.deletions-label {
    color: var(--destructive)
}

.stats-skeleton {
    width: 100%;
    height: var(--radius-lg);
    margin-top: var(--radius-sm);
}

.double-stat-container {
    display: flex;
    flex-direction: row;
    gap: var(--radius-md);
}

.double-stat-item-container {
    display: flex;
    flex-direction: row;
    gap: var(--radius-xs);
    align-items: center;
}

.double-stat-icon {
    width: 16px;
    height: 16px;
}

.activity-stats-container,
.conversion-rate-container {
    width: 100%;
    background: linear-gradient(180deg, rgba(10, 16, 32, 1), rgba(10, 16, 32, 0.92));
    border-radius: var(--radius-lg);
    text-align: center;
    align-content: center;
}

.activity-graph-loader {
    height: 100%;
    width: 100%;
}

.graphs-container {
    display: flex;
    flex-direction: row;
    gap: var(--radius-lg);
    width: 100%;
    height: 100%;
}